<section class="h-[calc(100dvh-64px)] flex flex-col items-center justify-between lg:flex-row gap-5 md:gap-10 m-auto w-[90%] md-w-[80%] max-w-[1200px]">

        <article
            class="flex flex-col items-start justify-center p-2 md:p-4 w-full sm:max-w-[500px] md:max-w-[600px] m-auto lg:m-0  relative">
            <h1 class="text-4xl md:text-5xl font-extrabold mt-10 text-primary">¡Hola! Soy Martin Gago</h1>
            <h2 class="text-3xl md:text-4xl mt-3 md:mt-4  font-bold">Desarrollador web y creador de WordRadar</h2>
            <p class="text-xl md:text-2xl mt-3 md:my-4 ">Si tienes alguna pregunta o quieres colaborar, no dudes en
                contactarme.</p>
            <a href="mailto:gagochorenmartin@gmail.com" target="_blank" rel="noopener noreferrer"
                class="block text-center mt-2 ssm:text-lg md:text-2xl  hover:text-gray-700 transition-colors duration-300">
                <img src="/assets/icons/social/envelope-solid.svg" alt="icono-mail-to-martin-gago"
                    class="w-5 md:w-6.5 inline-block mr-2 md:mr-3">
                <span>gagochorenmartin&#64;gmail.com</span>
            </a>
            <a href="https://www.linkedin.com/in/martin-gago-choren/" target="_blank" rel="noopener noreferrer"
                class="block text-center mt-2 ssm:text-lg md:text-2xl  hover:text-gray-700 transition-colors duration-300">
                <img src="/assets/icons/social/linkedin-brands.svg" alt="icono-linkedin-martin-gago"
                    class="w-5 md:w-6.5 inline-block mr-2 md:mr-3">
                <span>linkedin.com/in/martin-gago-choren/</span>
            </a>
            <img src="/assets/images/global/decorative-element-square.png" alt="Decorative Element"
                class="absolute hidden lg:block top-0 -translate-y-9/12">
        </article>

        <aside class="z-10 relative max-w-[350px] lg:max-w-[420px] w-[70%] lg:w-1/2 ">
            <img src="assets/images/profile/martin-gago-profile-image.webp" alt="WordRadar Logo" />
        </aside>

</section>