<footer class="mt-10 bg-primary m-auto text-white">
    <div class="w-[90%] md:w-[80%] max-w-[1200px] mx-auto flex flex-col ssm:flex-row justify-between items-center">
        <span class="font-bold mt-5 ssm:mt-0 text-4xl">WordRadar</span>
        <ul class="py-6 items-center ssm:items-start flex flex-col gap-2">
            <li>
                <a href="/inicio">Inicio</a>
            </li>
            <li>
                <a href="/inicio">Nosotros</a>
            </li>
            <li>
                <a href="/inicio">API v1</a>
            </li>
            <li>
                <a href="/inicio">Desarrolladores</a>
            </li>
        </ul>
    </div>
    <div class="flex justify-evenly bg-primary-darkest py-2">
        <p class=" text-xs">WordRadar 2025 - {{currentYear}}</p>
        <ul class="flex gap-4">
            <li><a href="https://www.google.es/">
                <img class="h-[18px]" src="/assets/icons/global/mail-to-icon.svg" alt="Icon mail to">
            </a></li>
            <li><a href="https://www.google.es/">
                <img class="h-[18px]" src="/assets/icons/global/portfolio-web-icon.svg" alt="Icon visit portfolio">
            </a></li>
            <li><a href="https://www.google.es/">
                <img class="h-[18px]" src="/assets/icons/global/linkedin-logo-icon.svg" alt="Icon visit Linkedin">
            </a></li>
        </ul>
    </div>
</footer>