/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --breakpoint-xs:0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
  --color-primary: #EB3933;
  }