<div class="bg-primary sticky top-0 z-50">
    <div class="w-[90%] py-3 md:w-[80%] max-w-[1200px] m-auto text-white">
        <div class="flex items-center justify-between">
            <!-- Logotipo -->
            <span class="font-bold text-4xl">WordRadar</span>
            <!-- Menú de hamburguesa (solo visible en móviles) -->
            <button (click)="toggleMenu()" class="flex justify-center items-center w-[40px] h-[40px] md:hidden">
              <mat-icon>menu</mat-icon>
            </button>
            <!-- Enlaces (visibles en escritorio) -->
            <div class="links flex gap-4 top-[64px] md:top-0" [ngClass]="{'hidden': !menuOpen && isMobile, 'md:block': true}">
              <a mat-button routerLink="/">Inicio</a>
              <a mat-button routerLink="/servicios">Servicios</a>
              <a mat-button routerLink="/acerca-de">Acerca de</a>
              <a mat-button routerLink="/contacto">Contacto</a>
            </div>
        </div>
      </div>
</div>