/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --breakpoint-xs:0px;
  --breakpoint-ssm:400px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
  --color-primary: #EB3933;
  --color-primary-dark: #C41E18;
  --color-primary-darkest: #9F0500;
  --color-light: #FFFFFF;
  --color-light-dark: #F4F4F4;
  --color-light-darkest: #E5E5E5;
  }


html {
  scroll-behavior: smooth;
}

  