<footer class="mt-10 bg-primary m-auto ">
    <div class="w-[90%] md:w-[80%] max-w-[1200px] mx-auto flex flex-col ssm:flex-row justify-between items-center text-white">
        <a href="/" class="font-bold mt-5 ssm:mt-0 text-4xl">WordRadar</a>
        
        <ul class="py-6 items-center ssm:items-start flex flex-col gap-2">
            <li>
                <a mat-button routerLink="/">Inicio</a>
            </li>
            <li>
                <a href="http://localhost:8080/documentation" target="_blank">Documentación</a>
            </li>
            <li>
                <a mat-button routerLink="/contacto">Contacto</a>
            </li>
        </ul>
    </div>
    <div class="flex justify-evenly bg-light-dark py-2.5 text-primary">
        <p class="text-md font-thin">WordRadar 2025 - {{currentYear}}</p>
        <ul class="flex gap-4 items-center">
            <li><a href="mailto:gagochorenmartin@gmail.com" target="_blank">
                <img class="h-[18px]" src="/assets/icons/social/envelope-solid.svg" alt="Icon mail to">
            </a></li>
            <li><a href="https://martingago.dev/" target="_blank">
                <img class="h-[18px]" src="/assets/icons/social/globe-solid.svg" alt="Icon visit portfolio">
            </a></li>
            <li><a href="https://www.linkedin.com/in/martin-gago-choren/" target="_blank">
                <img class="h-[18px]" src="/assets/icons/social/linkedin-brands.svg" alt="Icon visit Linkedin">
            </a></li>
        </ul>
    </div>
</footer>