<header class="bg-primary h-[65px] ">
    <div class="w-[80%] max-w-[1250px] h-full m-auto flex items-center justify-between">
        <p class="text-3xl text-white">WordRadar</p>
        <ul class="flex gap-13 items-center h-full">
            <li>
                <app-link nombre="Inicio" path="/inicio"/>
            </li>
            <li>
                <app-link nombre="Nosotros" path="/nosotros"/>
            </li>
            <li>
                <app-link nombre="API v1" path="/documentation"/>
            </li>
            <li>
                <app-link nombre="Desarrolladores" path="/developers"/>
            </li>
        </ul>
    </div>
</header>
