<section class="flex flex-col justify-center w-[90%] md:w-[80%] max-w-[1200px] m-auto my-8">
    <header>
        <app-h2>WordRadar en números.</app-h2>
    </header>
    <p class="sm:text-xl">
        <span class="font-semibold text-primary">WordRadar</span> es un proyecto de API REST para palabras, accesible
        para todo el mundo.
        Esta API es ideal si quieres crear una aplicación que requiera información rápida sobre palabras existentes en
        la lengua española.
    </p>
    <p class="sm:text-xl pt-6">
        <span class="font-semibold text-primary">WordRadar</span> no solo ofrece palabras y definiciones, sino también
        clasificaciones detalladas por cada definición, ejemplos de uso, relaciones de sinónimos y antónimos, palabras
        aleatorias y una variedad de filtros avanzados.
    </p>

    <p class="sm:text-xl pt-6">
        Si deseas conocer más sobre las funcionalidades disponibles en <span
            class="font-semibold text-primary">WordRadar</span>, no dudes en visitar la documentación para
        desarrolladores y ver cómo funciona.
    </p>

</section>